@model IEnumerable<Book>
@{
    ViewData["Title"] = "Books";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Books</li>
    </ol>
</nav>

<div class="text-center">
    <div class="mb-5">
        <h1>
            @if (Model.Any())
            {
                @: Books
            }
            else
            {
                @: Books not found
            }
        </h1>
    </div>

    @if (Model.Any())
    {
        <div>
            @foreach (var book in Model)
            {
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">@book.Name</h2>
                            <div class="d-flex justify-content-center gap-2 mb-2">
                                @foreach (var author in book.Authors)
                                {
                                    var isNotLast = author != book.Authors.Last();

                                    <span>@author.FirstName @author.LastName</span>

                                    if (isNotLast)
                                    {
                                        <span>,</span>
                                    }
                                }
                            </div>
                            <div class="mb-2 d-flex gap-2 justify-content-center">
                                @foreach (var genre in book.Genres)
                                {
                                    <span class="mb-0 badge rounded-pill bg-primary">@genre.Name</span>
                                }
                            </div>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary" href="/books/@book.Id">Go</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>