@{
    ViewData["Title"] = "Main";
}

<div class="text-center">
    <div>
        <p></p>
        <h1></h1>
    </div>

    <div>
        <form action="/books">
            <input name="Author" placeholder="Author" class="form-control" />
            <input name="Name" placeholder="Name" class="form-control" />
            <input name="Genre" placeholder="Genre" class="form-control" />
            <button class="btn btn-primary">Get</button>
        </form>
    </div>
</div>