@{
    ViewData["Title"] = "Main";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Books</li>
    </ol>
</nav>

<div class="text-center">
    <div class="mb-5">
        <h1>Books</h1>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Search by</h2>
                <form action="/books">
                    <div class="mb-2">
                        <label class="form-label">Name</label>
                        <input name="Name" placeholder="Name" class="form-control" autocomplete="off" autofocus />
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Author</label>
                        <input name="Author" placeholder="Author" class="form-control" autocomplete="off" />
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Genre</label>
                        <input name="Genre" placeholder="Genre" class="form-control" autocomplete="off" />
                    </div>
                    <button class="btn btn-primary">Get</button>
                </form>
            </div>
        </div>
    </div>
</div>