@{
    ViewData["Title"] = "Clients";
}

<div class="text-center">
    <h1>Clients</h1>

    <div>
        <h2>Search by form</h2>
        <form action="/clients">
            <input name="form" placeholder="Form" class="form-control"/>
            <button class="btn btn-primary">Get</button>
        </form>
    </div>
</div>
